@import "./components/header.scss";
@import "./components/startPage.scss";
@import "./components//trailers.scss";
@import "./components/details.scss";

body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}